JWT_SECRET=

OPEN_FOOD_FACTS_USER_AGENT=

MONGODB_USERNAME_DEV=
MONGODB_PASSWORD_DEV=
MONGODB_DB_NAME_DEV=

MONGODB_USERNAME_PROD=
MONGODB_PASSWORD_PROD=
MONGODB_DB_NAME_PROD=

CLOUDINARY_CLOUD_NAME_DEV=
CLOUDINARY_API_KEY_DEV=
CLOUDINARY_API_SECRET_DEV=

CLOUDINARY_CLOUD_NAME_PROD=
CLOUDINARY_API_KEY_PROD=
CLOUDINARY_API_SECRET_PROD=