JWT_SECRET=

OPEN_FOOD_FACTS_USER_AGENT=

MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DB_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=

NEXT_PUBLIC_APP_URL=