@import 'tailwindcss';

@theme inline {
  /* Primary */
  /* green from tailwind */
  --color-primary-light: #00a63e;
  --color-primary: #008236;
  --color-primary-shade: #0d542b;

  /* Neutral */
  /* zinc from tailwind */
  --color-text: #18181b;
  --color-text-light: #f4f4f5;
  --color-background: #fafafa;
  --color-surface-dark: #3f3f46;

  /* stone from tailwind */
  --color-surface-card: #ffffff;
  --color-surface-light: #f5f5f4;

  /* Accent */
  --color-success: #4caf50;
  --color-error: #d64545;
}

@layer base {
  /* Remove arrows from number inputs */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
