@import 'tailwindcss';

@theme inline {
  /* Primary */

  /* green from tailwind */
  --color-primary-light: #00a63e;
  --color-primary: #008236;
  --color-primary-shade: #0d542b;

  /* Neutral */

  /* zinc from tailwind */
  --color-text: #18181b;
  --color-text-minor-emphasis: #71717a;
  --color-text-light: #f4f4f5;
  --color-background: #fafafa;
  --color-surface-dark: #3f3f46;
  --color-overlay: #27272a;
  --color-border: #a1a1aa;

  /* stone from tailwind */
  --color-surface-card: #ffffff;
  --color-surface-light: #f5f5f4;

  /* Accent */

  /* emerald from tailwind */
  --color-success: #047857;
  /* red from tailwind */
  --color-error: #dc2626;

  /* blue from tailwind */
  --color-selected: #2563eb;
}

@layer base {
  /* Remove arrows from number inputs */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

/* Animations for toast notifications */
@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-12px);
  }
}

.animate-enter {
  animation: enter 0.2s ease;
}

.animate-leave {
  animation: leave 0.15s ease forwards;
}
