@import 'tailwindcss';

@theme inline {
  /* Primary */
  /* green from tailwind */
  --color-primary-light: #00a63e;
  --color-primary: #008236;
  --color-primary-shade: #0d542b;

  /* Neutral */
  /* zinc from tailwind */
  --color-text: #18181b;
  --color-text-minor-emphasis: #71717a;
  --color-text-light: #f4f4f5;
  --color-background: #fafafa;
  --color-surface-dark: #3f3f46;
  --color-overlay: #27272a;

  /* stone from tailwind */
  --color-surface-card: #ffffff;
  --color-surface-light: #f5f5f4;

  /* Accent */
  /* emerald from tailwind */
  --color-success: #047857;
  /* red from tailwind */
  --color-error: #dc2626;
}

@layer base {
  /* Remove arrows from number inputs */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
